.Banner-Flex{
    display: flex;
    justify-content: space-evenly;
    padding-top: 200px;
}
.Banner-Flex h1{
    font-weight: 500;
    padding-top: 100px;
    line-height: 1;
}
.Banner-Flex h2{
    font-weight: 500;
    line-height: 1.3;
}
.Banner-Flex p{
    font-weight: 300;
    width: 490px;
}
.Banner-Flex button{
    padding: 8px;
    width: 35%;
    border: none;
    margin-top: 15px;
    background-color: #cfcfcf;
}
.Banner-Flex img{
    width: 250px;
}