.Banner-BG{
    background-image:url('../img/BG.jpg') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}
.Banner-Text{
    padding-left: 100px;
    padding-top: 150px;
}
.Banner-BG h1{
    font-weight: 500;
    padding-top: 100px;
    line-height: 1;
}
.Banner-BG h2{
    font-weight: 500;
    line-height: 1.3;
}
.Banner-BG p{
    width: 490px;
}
.Banner-BG button{
    padding: 8px;
    width: 10%;
    border: #009bf5 2px solid;
    border-radius: 8px;
    margin-top: 15px;
    color: white;
    background-color: #009bf5;
}
.Banner-BG button:hover{
    background: white;
    border: #009bf5 2px solid; 
    color: #009bf5;
}