.Choose-Us-Flex{
    display: flex;
    padding-top: 100px;
    justify-content: space-evenly;
    align-items: center;
}
.Choose-Us-Flex img{
    width: 550px;
}
.Choose-Us-Text{
    text-align: center;
}
.Choose-Us-Text h2{
    font-weight: 500;
}
.Choose-Us-Text p{
    width: 587px;
}
.Choose-Us-Text button{
    padding: 8px;
    cursor: pointer;
    width: 35%;
    color: white;
    border: none;
    margin-top: 15px;
    border: #009bf5 2px solid ;
    border-radius: 8px;
    background-color: #009bf5;
}
.Choose-Us-Text button:hover{
    background: white;
    border: #009bf5 2px solid; 
    color: #009bf5;
 
}