.Choose-Us-Flex{
    display: flex;
    padding-top: 100px;
    justify-content: space-evenly;
    align-items: center;
}
.Choose-Us-Flex img{
    width: 550px;
}
.Choose-Us-Text{
    text-align: center;
}
.Choose-Us-Text h2{
    font-weight: 500;
}
.Choose-Us-Text p{
    width: 587px;
    padding-bottom: 20px;
}
.Choose-Us-Text button{
    width: 180px;
    height: 45px;
    margin: auto;
    top:0;
    bottom: 0;
    border: 0.1px solid rgb(107, 107, 107);
    left: 0;
    right: 0;
    background-color: rgba(255,255,255,0.05);
    font-family: 'Poppins',sans-serif;
    color: #000;
    font-size: 18px;
    letter-spacing: 2px;
    backdrop-filter: blur(8px);
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
}
.Choose-Us-Text button:after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%; 
     top: 0;
    left: 0; 
    background: linear-gradient(
        45deg,
        transparent 50%,
        rgba(255,255,255,0.03) 58%,
        rgba(255,255,255,0.16) 67%,
        transparent 68%
    );
    background-size: 200% 100%;
    background-position: 165% 0;
    transition: 0.7s;
}
.Choose-Us-Textt button:hover:after{
    background-position: -20% 0;
}
.Choose-Us-Text button:hover{
    box-shadow: 15px 30px 32px rgba(0,0,0,0.25);
    transform: translateY(-6px);
}