.Services-Top-Text{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.Services-Top-Text h2{
    font-weight: 500;
    padding-top:20px ;
}
.First-row{
    display: flex;
    padding-top: 50px;
    /* background: #f5f5f5; */
    text-align: center;
    justify-content: space-evenly;
}
.First-row div{
cursor: pointer;
    width: 300px;
}
.First-row h3{
    font-weight: 400;
}
.Second-row h3{
    font-weight: 400
}
.Second-row{
    display: flex;
    padding-top: 100px;
    /* background: #f5f5f5; */
    text-align: center;
    justify-content: space-evenly;
}
.Second-row div{
    width: 300px;
    cursor: pointer;
}
.Services-Btn{
    text-align: center;
}
.Services-Btn button{
    padding: 8px;
    width: 10%;
    border: none;
    cursor: pointer;
    color: white;
    border: #009bf5 2px solid;
    margin-top: 90px;
    background-color: #009bf5;
    border-radius: 8px;
}
.Services-Btn button:hover{
    background: white;
    border: #009bf5 2px solid; 
    color: #009bf5;
 
}
.Icons{
    font-size: 40px;
}