.OurTeam-Top-Text{
    text-align: center;
    margin-top: 120px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.OurTeam-Top-Text h2{
    font-weight: 500;
}
.Our-Team-Flex img{
    width: 350px;
    height: 350px;
    border-radius: 10px;
}
.Our-Team-Flex{
    display: flex;
    padding-top: 150px;
padding-left: 200px;
align-items: center;
    gap: 30px;
}
.Our-Team-Flex h3{
    line-height: 1;
    font-weight: 400;
}
.Our-Team-Flex h4{
    font-weight: 400;
}
.Our-Team-Flex p{
    width: 437px;
}
.Our-Team-Flex-2 img{
    width: 350px;
    height: 350px;
    border-radius: 10px;
}
.Our-Team-Flex-2{
    display: flex;
    padding-top: 150px;
    padding-left: 900px;
align-items: center;
    gap: 30px;
}
.Our-Team-Flex-2 h3{
    line-height: 1;
    font-weight: 400;
}
.Our-Team-Flex-2 h4{
    font-weight: 400;
}
.Our-Team-Flex-2 p{
    width: 437px;
}
.Our-Team-Text{
    text-align:left;
}
.Our-Team-Text-2{
    text-align: right;
}
.Our-Team-Btn{
    text-align: center;
}
.Our-Team-Btn button{
    padding: 8px;
    color: white;
    width: 10%;
    border: none;
    margin-top: 100px;
    border: #009bf5 2px solid;
    margin-bottom: 100px;
    border-radius: 8px;
    background-color: #009bf5;
}
.Our-Team-Btn button:hover{
    background: white;
    border: #009bf5 2px solid; 
    color: #009bf5;
 
}